@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(IMG_6872.JPG) no-repeat;
  background-size: cover;
  background-position: center;
}

h2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  input {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .hidden {
    display: none;
  }
  
  /* Authentication form styles */
  #authForm {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 30px auto;
    max-width: 400px;
  }
  
  /* Secret content styles */
  #secretContent {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 30px auto;
    max-width: 400px;
    margin-top: 50px;
  }
  
  #secretContent h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #signOutButton {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }